<header class="header container">
  <div class="row">
    <div class="logo-container col-md-2 ">
      <h1 class="display-2">INSERT LOGO</h1>
    </div>
    <div class="navigation-container col-md-10">
      <div class="col align-self-center">
        <app-input-search class="align-middle"></app-input-search>
        <input [(ngModel)]="searchString" ><button (click)="search()">Search!</button>
      </div>
      <div class="col align-self-center">
        <app-navigation-bar class="align-middle"></app-navigation-bar>
      </div>
    </div>
  </div>
</header>