<div class="btn-group container-fluid">
    <button class="btn btn-warning">
        <a [routerLink]="['/vs2']">2vs2 LeaderBoard</a>
    </button>
    <button class="btn btn-warning">
        <a [routerLink]="['/vs3']">3vs3 LeaderBoard</a>
    </button>
    <button class="btn btn-warning">
        <a [routerLink]="['/rbg']">RBG LeaderBoard</a>
    </button>
    <button class="btn btn-warning">
        <a [routerLink]="['/realm-status']">Realm Status</a>
    </button>
    <button class="btn btn-warning">
        <a [routerLink]="['/guild-search']">Guild Search</a>
    </button>
</div>